{# users-companies.html.twig #}
<div class="users-companies-table">
    {% if users %}
    <table>
        <thead>
            <tr>
                <th>{{ 'ID'|t }}</th>
                <th>{{ 'Name'|t }}</th>
                <th>{{ 'Username'|t }}</th>
                <th>{{ 'Email'|t }}</th>
                <th>{{ 'Phone'|t }}</th>
                <th>{{ 'Website'|t }}</th>
                <th>{{ 'Company'|t }}</th>
                <th>{{ 'Address'|t }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td><a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a></td>
                    <td>
                        <div>
                            <strong>Name:</strong> {{ user.company.name }}<br>
                            <strong>Catch phrase:</strong> {{ user.company.catch_phrase }}<br>
                            <strong>bs:</strong> {{ user.company.bs }}<br>
                        </div>
                    </td>
                    <td>
                        <div>
                            <strong>Street:</strong> {{ user.address_data.street }}<br>
                            <strong>City:</strong> {{ user.address_data.city }}<br>
                            <strong>Zipcode:</strong> {{ user.address_data.zipcode }}<br>
                            <strong>Suite:</strong> {{ user.address_data.suite }}<br>
                            <div class="user-address">
                                <strong>Geo:</strong>
                                <div class="lat-long">
                                    <strong>Lat:</strong> {{ user.address_data.geo_lat }}<br>
                                    <strong>Long:</strong> {{ user.address_data.geo_long }}<br>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>{{ 'No users found.'|t }}</p>
    {% endif %}
</div>
